* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #5d26c1, #a17fe0, #bcd6c5);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.8rem;
  text-shadow: 2px 2px 15px #7e23b3;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  box-shadow: 2px 2px 5px black;
}

form input:focus {
  outline: none;
}

form button {
  color: #5d26c1;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #31195fd7;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 40%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  width: 100%;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  box-shadow: 2px 2px 5px black;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trash-btn,
.complete-btn,
.update-btn,
.update-done-btn {
  background: #fd2525ce;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.update-btn {
  background: #f7eb48;
}

.complete-btn {
  background: #0bd4a2;
}

.update-done-btn {
  background: #3021b4;
}

.todo-item {
  width: 70%;
  padding: 0rem 0.5rem;
}

.update-todo-container {
  display: flex;
}

.update-todo-container .update-todo-input {
  border: none;
  font-size: 1.5rem;
  padding: 0rem 0.5rem;
  font-family: "Poppins", sans-serif;
}

.update-todo-container .update-todo-input:focus {
  outline: none;
}

.fa-trash,
.fa-check,
.fa-edit,
.fa-check-double {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 5px black;
}

select {
  color: #5d26c1;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #5d26c1;
  cursor: pointer;
  pointer-events: none;
}

@media screen and (max-width: 900px) {
  .todo-list {
    width: 50%;
  }
}

@media screen and (max-width: 552px) {
  .todo-input {
    width: 300px;
  }

  header {
    font-size: 1rem;
  }

  .todo {
    font-size: 1rem;
  }

  .todo-list {
    width: 50%;
  }

  form input {
    font-size: 1.5rem;
  }
  form input::placeholder {
    font-size: 1.5rem;
  }

  .trash-btn,
  .complete-btn,
  .update-btn,
  .update-done-btn {
    padding: 0.7rem;
    font-size: 0.8rem;
  }

  .update-todo-container .update-todo-input {
    font-size: 1rem;
  }

  .todo-button {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .todo-input {
    width: 200px;
  }

  .todo {
    font-size: 1rem;
  }

  .trash-btn,
  .complete-btn,
  .update-btn,
  .update-done-btn {
    padding: 0.5rem;
    font-size: 0.7rem;
  }

  .update-todo-container .update-todo-input {
    font-size: 1rem;
  }

  .filter-todo {
    padding: 0.8rem;
  }

  .select::after {
    padding: 0.8rem;
  }
}
